body {
  margin: 0;
  font-family: "Geologica", sans-serif;
  height: 100vh;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 35%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
  background: linear-gradient(
    to right,
    rgba(225, 210, 163, 1) 0%,
    rgba(225, 210, 163, 0.7) 60%,
    rgba(225, 210, 163, 0.0) 100%
  );
}

#sidebar h1 {
  margin-top: 0;
}

#messages {
  list-style: none;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.question {
  background: #2b77b3;
  color: white;
  padding: 8px 12px;
  margin-bottom: 6px;
  border-radius: 4px;
  font-weight: bold;
}

.correct {
  background: #4caf50;
  color: white;
  padding: 8px 12px;
  margin-bottom: 6px;
  border-left: 6px solid #1b5e20;
  border-radius: 4px;
}

.incorrect {
  background: #e53935;
  color: white;
  padding: 8px 12px;
  margin-bottom: 6px;
  border-left: 6px solid #7f0000;
  border-radius: 4px;
}

#modal-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: rgba(0, 0, 0, 0.6); /* darken page */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  /* hidden by default */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#modal-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

#modal {
  background: white;
  padding: 24px 32px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  min-width: 260px;
}

#modal h2 {
  margin-top: 0;
  margin-bottom: 12px;
}

#modal-score {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

#modal-time {
  font-size: 1.1rem;
  margin-bottom: 4px;
}

#modal-highscore {
  font-size: 1.1rem;
  margin-bottom: 20px;
}


#modal-close {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background: #2b77b3;
  color: white;
  cursor: pointer;
}

#modal-close:hover {
  background: #225c8a;
}


